create or replace function get_negotiation_state(
  p_store_id text,
  p_product_id text,
  p_category_id text,
  p_chat_id text
)
returns json
language plpgsql
as $$
declare
  v_email text;
  v_email_capture_round text;
  v_discount_rule record;
begin
  -- 1. Get the email from chat_interactions if it exists
  SELECT email INTO v_email
  FROM chat_interactions
  WHERE id::text = p_chat_id OR chat_id::text = p_chat_id
  LIMIT 1;

  -- 2. Get the discount rule (has both store_id UUID and shopify_store_id text)
  SELECT * INTO v_discount_rule
  FROM discount_rules
  WHERE shopify_store_id = p_store_id
  AND (
        (scope_type = 'product' AND scope_id = p_product_id)
     OR (scope_type = 'category' AND scope_id = p_category_id)
     OR (scope_type = 'global')
  )
  ORDER BY
  CASE
      WHEN scope_type = 'product' THEN 1
      WHEN scope_type = 'category' THEN 2
      WHEN scope_type = 'global' THEN 3
  END
  LIMIT 1;

  -- 3. Get email_capture_round from shop_settings using the UUID store_id from discount_rules
  IF FOUND THEN
    SELECT email_capture_round INTO v_email_capture_round
    FROM shop_settings
    WHERE store_id = v_discount_rule.store_id
    LIMIT 1;
  END IF;

  -- Return all discount_rule fields + email fields merged
  IF v_discount_rule IS NOT NULL THEN
    RETURN (
      to_jsonb(v_discount_rule) || jsonb_build_object(
        'email', v_email,
        'email_capture_round', v_email_capture_round
      )
    )::json;
  ELSE
    RETURN json_build_object(
      'email', v_email,
      'email_capture_round', v_email_capture_round
    );
  END IF;

end;
$$;
